<html>
    <head>
        <title>Ruff Radar</title>
            
    </head>
    <body>
        <h1>Welcome to Ruff Radar!
</h1>
        <ul>
            <li>What is Ruff Radar?</li>
            <li>How do you join?
</li>
        </ul>
        <h2>What is ruff radar</h2>

        <p>We are here to help new dog owners find new dogs for their family. We are a new startup where we like to list dogs
        best off of features that anyone can look up! Welcome to Ruff Radar!
</p>
        <p>
            <img src="https://www.pexels.com/photo/two-yellow-labrador-retriever-puppies-1108099/">
            <br> Image courtest Pexel
        </p>
        <h2>How do you join?</h2>
        <ul>
            <li>Step 1:</li>
        </ul>
    </body>


</html>